.container {
  height: 100%;
}

.th {
  margin: 0 5px 0 0;
  padding: 0;
  width: 33%;
}

.arrow {
  height: 20px;
  margin: 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.chartIconContainer {
  display: flex;
  justify-self: center;
  cursor: pointer;
}

.chartIcon {
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 3px;
}

.rotate180 {
  rotate: 180deg;
}

.thContent {
  display: flex;
  align-items: center;
}

.justifyFlexStart {
  justify-content: flex-start;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.tableCellAlignLeft {
  text-align: left;
}

.tableCellAlignRight {
  text-align: right;
}

.tableCellAlignRight svg {
  margin-left: 5px;
}

.explainData {
  width: 100%;
}
