.container {
  position: absolute;
  text-align: center;
  z-index: 10;
  opacity: 0;
  font-size: 1em;
  padding: 6px 16px 7px 16px;
  background-color: rgba(30, 30, 30, 0.65);
  color: #fff;
  border-radius: 8px;
  pointer-events: none;
}

.content {
  font-size: 0.9em;
  font-weight: 600;
}
