.arrow {
  height: 20px;
  margin: 0;
}

.rotate180 {
  rotate: 180deg;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  grid-auto-rows: 30px;
  gap: 2px;
}

.legendsContainer {
  display: flex;
  gap: 17px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.legendContainer {
  display: flex;
  align-items: center;
  flex-direction: row;

}

.subheadersContainer {
  display: flex;
  gap: 17px;
  margin-top: 16px;
}

.subheaderContainer {
  display: flex;
  align-items: center;
  height: fit-content;
  flex-direction: row;
  cursor: pointer;
}

.subheaderLabel {
  font-size: 10;
  margin: 0;
}

.colorSquare {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  margin-right: 5px;
}

.pointer {
  cursor: pointer;
}
